/build
/MarkerServer/output_data
/MarkerTestClient/output_data
/MultiMarkerServer/output_data
/MarkerServer/build
/MarkerTestClient/build
/MultiMarkerServer/build
/FIFOTest/build
/UTFIFOTest/build
!*.gitkeep
